{% extends "base.html" %}
{% block my_content %}


     <script type="text/javascript">

        jQuery(document).ready(function () {
           $("#next_button").hide();

        });

        $.myfunction = function call_me_on_my() {
            $("#next_button").fadeIn(1500).show();

        }


        $(function()
        {
            var stop = 0;
            var oTop = $('#hello').offset().top - window.innerHeight;
            $(window).scroll(function()
            {
                var pTop = $('body').scrollTop();
                if( pTop > oTop && stop != 1)
                {
                move();
                stop = 1;
                }
            });
        });



        var count = 0;
        var texts = ['You asked me what Python could exactly accomplish (6 months ago).','Now, since there is a lot that can be done,',
            'this website will show you a few possibilities with Python.',
            'Click below to get started'];

        <!-- move();-->
        function move() {
            console.log("called");

            var id = setInterval(greet,4000);

            function greet(){
                console.log(count);
                if(count >= 4)
                {
                    clearInterval(id);
                    console.log("cleared");
                    $.myfunction();
                }
                else {
                    console.log("incremented");
                    $("#hello").fadeOut(1000, function () {
                        $("#hello").text(texts[count++] + " ").fadeIn(1000);
                    });
                }
            }
        }

        </script>

    <div class="row">
    <div class="container center grey-text text-darken-2 content_block">
        <div class="card card-margin content_block_inner">


    <h2 id ="hello">
        Hello, Corey!
    </h2>
    <br/>
    <br/>
      <div id="next_button">
        <a class="btn waves-effect waves-light grey btn-large" href="/python/">Next</a>
    </div>

     </div>
    </div>
</div>




{% endblock %}