{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login to continue</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <link rel = "stylesheet" type="text/css" href="{% static 'css/custom.css' %}"/>
</head>

<body class="indigo darken-2">


<div class="row">
    <div class="col m3 l3">&nbsp;</div>
    <div class="col s12 m6 l6 perfect_center">
        <div class="container grey-text text-darken-1">
            <div class="card center-align ">
                <div class="card-content">
                    <img class="center-align" width = "200" src="{% static 'pictures/caution.jpg' %}">
                        <h5>Thou shall not pass unless you are who I think you are</h5>
                    <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                        <br/>
                        <button class = "btn"type="submit">Let me in!</button>
                    </form>
                    <br/>
                    <br/>
                    <p>Instructions: The username is your name, and the password is the name of the place where you strangely ordered the same thing as I usually do
                        <br/>
                        (all lower-case)  </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col m3 l3">&nbsp;</div>
</div>

</body>
</html>